
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  .container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }

  :root{
    --accent-color: #2196F3;
    --logoo-nomber-two-color: #000;
    --menu-color: #212121;
    --email-color: #757575;
    --title-big-color: #FFF;
    --back-background: #2F303A;
    --backk-tw-background: #F5F4FA;
  }

  .logo {
    margin-left: 94px;

    font-size: 26px;
    font-family: 'Raleway', sans-serif; 
    color: var(--accent-color);
    font-style: normal;
    letter-spacing: 0.78px; 
  }

  h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
}

  .header{
    display: flex;
  }

  .header-logo {
  font-size: 26px;
  font-family: 'Raleway', sans-serif; 
  color: var(--logoo-nomber-two-color);
  font-style: normal;
  letter-spacing: 0.78px; 
  }

  body{
     /* font-family: 'Raleway', sans-serif;  */
      font-family: 'Roboto', sans-serif;
    }

    li{
      list-style: none;
    }

    a {
      text-decoration: none
  }

  .header-menu:not(:last-child) {
    margin-right: 50px;
    color: var(--menu-color);
  }
  .header-menu{
    color: var(--menu-color);
  }

  .address {
    margin-left: 334px;
  }

  .address-item{
    font-style: normal;
    margin-right: 50px;
  }

  .header-menu-item{
    display: flex;
    margin-right: 50px;
  }

  .header-menu:focus{
    color: var(--accent-color);
  }

  .address-item{
    color: var(--email-color);
  }

  .section{
    background-color: var(--back-background);

    padding-top: 200px;
    padding-bottom: 200px;
  }

  .section-title {
    text-align: center;
    font-size: 44px;
    font-weight: 900;
     line-height: 1.36; 
    color: var(--title-big-color);
    }
    

  .section-button {
      /* width: 696px; */
      color: var(--button-background);
      font-size: 16px;
      color: white;
      background-color:  #2196F3;
      text-decoration: #2196F3;
      border: none;
      border-radius: 4px;
      /* width: 200px; */
      /* height: 50px; */
      line-height: 1.875; 

      display: flex;
      margin: 0px auto;
      padding: 10px 32px; 
  }

  .section-yvaga-title {
    color: var(--menu-color);
    font-size: 14px;
    font-style: normal;
  }

  .section-yvaga-text {
    color: var(--email-color);
    font-size: 14px;
    line-height: 1.7;

    display: block;
 }

 .section-zaymaemos-title {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  color: var(--menu-color);
 }

 .section-zaymaemos-title {
  color: var(--menu-color);
  text-align: center; 
  font-size: 36px;
  font-style: normal;
 }





 .section-portfolio-list{
  gap: 8px;
  display: flex;
  margin-bottom: 50px;
}







 .section-img-title {
  color: var(--menu-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
 }

 .section-img-text {
  color: var(--email-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
 }

 .footer {
  background-color: var(--back-background);
  width: 1600px;
  height: 252px;
 }

 .footer-logo {
  color: var(--title-big-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
 }

 .footer-address-item {
  color: var(--title-big-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
   line-height: 1.7;  
 }

 .footer-address-text {
  color: var(--title-big-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;   
 }

 .section-portfolio-buton {
   border-radius: 4px;
  background: #F5F4FA;
  font-size: 20px;
  border: none; 
  text-decoration: #212121;
  line-height: 1.625; 
  
  padding: 6px 22px;

  display: flex-wrap;

    /* display: flex;
     gap: 8px;  */


   /* margin-left: 334px; */
}

.section-portfolio-buton:hover,
.section-portfolio-buton:focus {
  background-color: var(--accent-color);
  cursor: var(--cursor);
  }

  .section-portfolio-buton{
    display: table;
      color: var(--blak-color);
    
  }

.section-portfolio-title{
  color: var(--menu-color);
  font-size: 18px;
  font-style: normal;
   line-height: 2; 
  }

.section-yvaga-text {
  color: var(--email-color);
  font-size: 16px;
  font-style: normal;
   line-height: 1.875; 
  }

  .header-menu:hover,
  .header-menu:focus {
    color: var(--accent-color);
    cursor: var(--cursor);
  }

  .address-item:hover
  /* .copy:focus*/ { 
    color: var(--accent-color);
    cursor: var(--cursor);
  }
  
  /* .section-portfolio-buton {
    display: flex;
     gap: 8px; 
} */

 /* .section-portfolio-buton,
 .section-portfolio-text {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    display: flex;
} */