:root{
    --logo-color: #2196F3;
    --header-logo-color: #000;
    --header-menu-color: #212121;
    --accent-color: #2196F3;
    --section-title-color: #FFF;
    --section-background: #2F303A;
    --section-button-background: #2196F3;
    --section-yvaga-title-color: #212121;
    --section-zaymaemos-title-color: #212121;
    --section-yvaga-text-color: #757575;
    --subtitlie-color: #757575;
    --section-img-text-color: #757575;
    --square-background: #f5f4fa;
    --section-img-title-color: #212121;
    --footer-background: #2F303A;
    --footer-logo-color: #FFF;
    --cursor:pointer;
    --address-title-color: #FFF;
    --address-text-color: rgba(255, 255, 255, 0.60);
  
    --address-item-color: #757575;
    --section-img-background: #F5F4FA;
    --section-portfolio-buton-background: #F5F4FA;
    /* колір тексту */
    --section-portfolio-title-color: #212121;
    /*  */
    --portfolio-color: #f5f4fa;
  /* мінус посилання */
    --xs-text-decoration: aliceblue;
    --accent-color: #2196F3;
  }
  
  .header-menu:hover
  .header-menu:focus{
    color: var(--menu-color);
    cursor: var(--cursor);
  }
  
  /* .address:hover
  .address:focus{} */
  
  .header-menu:hover,
  .header-menu:focus {
    color: var(--accent-color);
    cursor: var(--cursor);
  }
  
  .section-portfolio-buton:hover,
  .section-portfolio-buton:focus {
    background-color: var(--accent-color);
    cursor: var(--cursor);
  }
  
  .address-item:hover
  /* .copy:focus*/ { 
    color: var(--accent-color);
    cursor: var(--cursor);
  }
  
  
  
  
  
  
  
  
  .logo {
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    color: var(--logo-color)
  }
  
  a {
      text-decoration: aliceblue;
  }
  
  .thumb {
    font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
    color: var(--thumb-color);
  }
  
  .header-menu {
    color: var(--menu-color);
  }
  
  .address-item {
     color: var(--copy-color);
  }
  
  .section {
    background-color: var(--selectors-background);
  }
  
  .section-title {
    text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
    color: var(--title-color);
  }
  
  .section-button {
    color: var(--button-background);
    font-size: 20px;
    color: white;
    background-color:  #2196F3;
    text-decoration: #2196F3;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
  }
  
  .section-yvaga-title {
    font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
    color: var(--heading-color);
  }
  
  .section-zaymaemos-title {
    text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
    color: var(--heading-color);
  }
  
  .section-yvaga-text {
    font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
    color: var(--subtitle-color);
  }
  
  .subtitlie {
    font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  color: var(--subtitle-color);
  }
  
  .section-img-text {
    text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
    color: var(--subtitle-color);
  }
  
  .section-img-title {
    text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
    color: var(--caption-color);
  }
  
  .footer {
    background-color: #2F303A;
      width: 1600px;
      height: 252px;
      flex-shrink: 0;
  }
  
  .footer-logo {
    font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
    color: var(--desc-color);
  }
  
  .address-title {
    font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
    color: var(--address-color);
  }
  
  .address-text {
    font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
    color: var(--addresss-color);
  }
  
  .section-img {
      background-color: #F5F4FA;
      width: 1300px;
      height: 1500px;
      flex-shrink: 0;
  }
  
  li{
    list-style: none;
  }
  
  .section-portfolio-buton {
    border-radius: 4px;
    background: #F5F4FA;
    font-size: 20px;
    width: 120px;
    border: none;
    height: 30px;
    text-decoration: #212121;
  }
  
  /* .portfolio {
    color: white;
  } */

  .c {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  
  .section-portfolio-title {
    font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
    color: var(--textar-color);
  }

  body{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
  }

  .logo{
    font-family: 'Raleway', sans-serif;
    /* color: #2196F3; */
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
  }

  .thumb{
    font-family: 'Raleway', sans-serif;
    /* color: #000; */
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
  }

  .desc{
    font-family: 'Raleway', sans-serif;
    /* color: #FFF; */
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
  }

  /* .menu-link{
    color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
  }  */


  /* teroy */
  /* .title{
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 60px; /* 136.364% */
/* letter-spacing: 2.64px;
text-transform: uppercase;
   */ 

   .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }